@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:400,400italic,600,600italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,400italic,500,600,700);

*, *:before, *:after {
  box-sizing: border-box;
}

.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

/*#container {
  width: 1000px;
  margin: auto;
}*/

body {
  font-family: "Raleway", helvetica; 
  color: #00000;
}

nav div {
  float: right;
  margin-right: 30px;
  padding: 8px;
  font-style: 700,
}


h1 {
  font-size: 65px;
  font-family: "Josefin Sans", sans-serif;
  padding: 5px;
  margin: -5px;
  color: inherit;
 }

 h3 {
  font-size: 30px;
 }

 header {
  text-align: center;
  min-height: 300px;
  background-color: #fcf0c9;
 }


h4 {
  padding: 25px;
}

main {
  background-color: #fde9e1;
  min-height: 400px;
  text-align: center;
}

button {
  padding: 10px 8px;
   margin-top: 10px;
   border: solid;
   border-width: .3px;
   border-radius: 6px;
   background-color: #f1f1f1;
   font-family: "Raleway", sans-serif;
   font-size: 25px;
  font-weight: bold;
}


.profile_image {
  background-image: url("../images/megan_young_small.jpg");
  width: 400px;
  height: 400px;
  float: left;
  background-size: cover;
  border-style: solid;
  border-color: white;
  border-width: 7px;
}

/*.feature_image {
  float: left;
  height: 250px;
  width: 250px;
}

.resume_image {
  float: left;
  height: 200px;
  width: 200px;
}*/

/*Added to get rid of the default blue color and underline style.*/
a {
    text-decoration: none !important;
}

.demo,
.demo_second,
.demo_third {
  width: 400px;
  height: 400px;
  position: relative;
  padding: 50px;
  margin-right: 10px;
  background-size: cover;
  border-style: solid;
  border-color: white;
  border-width: 7px;
  float: left;
}

.demo {
  background-image: url("../images/roofgarden_small.jpg");
}

.demo_second {
  background-image: url("../images/sailing_small.jpg");
}

.demo_third {
  background-image: url("../images/beach.jpg");
}

#content,
#content_second,
#content_third {
  display: none;
  position: absolute;
  padding: 20px;
  width: 400px;
  height: 400px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,.5);
  color: #fff;
  font-family: "Raleway", sans-serif;
 }

 .demo:hover #content,
.demo_second:hover #content_second,
.demo_third:hover #content_third {
  display: block;
}

footer {
  font-family: "Josefin Sans", sans-serif;
  font-size: 25px;
  background-color: #fcd7c9;
  width: 100%;
  min-height: 150px;
  text-align: center;
}


footer h2 {
  font-size: 20px;
  text-align: center;
  padding: 10px;

}

li {
  font-size: 25px;
  font-style: 500;
  padding: 15px;
  float: left;
}

a {
  color: black;
}



/*Hover effects*/

.social_icon:hover {
  cursor: pointer;
}

a:visited {
  color: black;
}

a:hover {
  color: #d7c9fc;
  cursor: pointer;
}

select:hover {
  cursor: pointer;
}


/*Responsive design formatting.*/

@media screen and (max-width: 768px) {


 .feature-images {
    width: 100%;
  }

   nav ul {
    display: none;
  }

 .hamburger {
      display: block;
      float: right;
  }

  .demo,
  .demo_second,
  .demo_third {
    margin-left: 10px;
  }

  


